@font-face {
    font-family: "BarlowSemiCondensed";
    src: url("font/BarlowSemiCondensed-SemiBold.woff2");
    font-weight: 600;
}
@font-face {
    font-family: "BarlowSemiCondensed";
    src: url("font/BarlowSemiCondensed-Bold.woff2");
    font-weight: 700;
}
body {
    font-family: "BarlowSemiCondensed";
}
:root {
    /* ## Colors */
    /* ### Primary */
    --Scissors-Gradient: hsl(39, 89%, 49%);
    --Paper-Gradient:hsl(230, 89%, 62%);
    --Rock-Gradient: hsl(349, 71%, 52%);
    --Lizard-Gradient:hsl(261, 73%, 60%);
    --Cyan:hsl(189, 59%, 53%);
    /* ### Neutral */
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);
    --gray: #eee;
    /* ### Background */
    --Radial-Gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
}
a {
    display: block;
    text-decoration: none;
    color: var(--Dark-Text);
}
body {
    padding: 10px 0;
    min-height: 100vh;
    background-image: radial-gradient(var(--Radial-Gradient));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.menu {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: .5s;
}
/* #################################3 */
.menu.active {
    width: auto;
    height: auto;
}
/* ################################# */
.menu__title {
    font-size: 40px;
    color: var(--gray);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 3px 3px 0 #000;
    text-align: center;
}
.menu__games {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.menu__game {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid var(--gray);
    cursor: pointer;
    transition: .5s;
}
.menu__game:hover {
    transform: scale(90%);
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: .5s;
}
/*#####################################33 */
.game.active {
    min-width: 600px;
    height: auto;
}
.game.active .game__icons::before {
    width: 100%;
    height: 100%;
}
#game-2.active .game__cards::before {
    width: 100%;
    height: 100%;
}
/*#####################################33 */
.game__header {
    border: 2px solid var(--Header-Outline);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.game__score {
    background-color: var(--gray);
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 0px;
}
.game__score-text {
    font-size: 15px;
    color: var(--Score-Text);
    font-weight: 600;
    letter-spacing: 2px;
}
.game__score-num{
    margin-top: -10px;
    font-size: 50px;
    font-weight: 700;
    color: var(--Dark-Text);
}
.game__icons {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 100px;
    width: 60%;
    justify-content: center;
    position: relative;
    transition: .3s;
}
.game__icons::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
    z-index: -1;
    width: 0;
    height: 0;
}
.game__icon {
    border-radius: 50%;
    background-color: var(--gray);
    gap: 30px;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: inset 0 5px 0 #c7c5c5;
    border: 10px solid;
    cursor: pointer;
    transition: .3s;
}
.game__icon:hover {
    transform: scale(90%);
}
#paper-1 {
    border-color: var(--Paper-Gradient);
}
#scissors-1 {
    border-color: var(--Scissors-Gradient);
}
#rock-1 {
    margin-top: 60px;
    border-color: var(--Rock-Gradient);
}
.game__footer {
    display: flex;
    width: 100%;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
}
.game__footer-back,
.game__footer-rules {
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--gray);
    border: 1px solid var(--gray);
    cursor: pointer;
    font-weight: 600;
    /* transition: .3s; */
}
.game__footer-back:hover,
.game__footer-rules:hover {
    background-color: var(--gray);
    color: var(--Dark-Text);
}
.game__rules {
    display: none;
}
.game__rules.active {
    display: block;
}
.game__rules .box {
    position: absolute;
    background-color: var(--gray);
    padding: 20px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.game__rules-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.game__rules-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.game__rules-text img {
    cursor: pointer;
}
/* ############################################ */
#game-2 .game__cards {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 30px;
    width: 70%;
    justify-content: center;
    position: relative;
    transition: .3s;
}
#game-2 .game__cards::before {
    position: absolute;
    content: "";
    background-image: url("images/bg-pentagon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 350px;
    z-index: -1;
    width: 0;
    height: 0;
}
#game-2 .game__card {
    border-radius: 50%;
    background-color: var(--gray);
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: inset 0 5px 0 #c7c5c5;
    cursor: pointer;
    border: 10px solid;
    transition: .3s;
}
#game-2 .game__card:hover {
    transform: scale(90%);
}
#spock {
    border-color: var(--Cyan) !important;
}
#scissors {
    margin-bottom: 200px;
    border-color: var(--Scissors-Gradient) !important;
}
#paper {
    border-color: var(--Paper-Gradient) !important;
}
#lizard {
    margin-right: 50px;
    margin-top: -50px;
    border-color: var(--Lizard-Gradient) !important;
}
#rock {
    margin-top: -50px;
    border-color: var(--Rock-Gradient) !important;
}
/* ################################# */
/* step-2 */
/* ################################# */
.game__step-2,
#game-2 .game__step-2,
.game__result {
    display: none;
}

.step-2 .game__icon:hover,
#game-2 .step-2 .game__card:hover {
    transform: scale(100%);
}
.step-2 #rock-1 {
    margin-top: 0;
}
#game-2 .step-2 #scissors {
    margin-bottom: 0;
}
#game-2 .step-2 #lizard,
#game-2 .step-2 #rock {
    margin-right: 0;
    margin-top: 0;
}
.step-2 .game__step-2,
#game-2 .step-2 .game__step-2 {
    display: flex;
    background: var(--Dark-Text);
    box-shadow: none;
    border: none;
}
#game-1 .game__icons.step-2,
#game-2 .game__cards.step-2 {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 100px 0;
    width: 100%;
}
.step-2 .game__icon,
#game-2 .step-2 .game__card,
.game__icons.step-2::before,
.game__cards.step-2::before {
    display: none;
}
.step-2 .game__icon.yourPicked,
.step-2 .game__card.yourPicked {
    order: 1;
}
.step-2 .game__icon.game__step-2,
.step-2 .game__card.game__step-2 {
    order: 3;
    font-size: 40px;
    color: var(--gray);
}
.step-2 .game__icon.yourPicked,
#game-2 .step-2 .game__card.yourPicked,
.step-2 .game__icon.housePicked,
#game-2 .step-2 .game__card.housePicked,
.step-2 .game__icon.game__step-2,
#game-2 .step-2 .game__card.game__step-2 {
    display: flex;
    width: 120px;
    height: 120px;
    position: relative;
}
.step-2 .game__icon.yourPicked::after,
#game-2 .step-2 .game__card.yourPicked::after,
.step-2 .game__icon::after,
#game-2 .step-2 .game__card::after {
    content: "your picked";
    position: absolute;
    text-transform: uppercase;
    color: var(--gray);
    font-size: 20px;
    top: -60px;
    left: 50%;
    width: 160px;
    text-align: center;
    transform: translateX(-50%);
}
.step-2 .game__icon::after,
#game-2 .step-2 .game__card::after {
    content: "the house picked";
}
/* ################################# */
/* step-4 */
/* ################################# */
.step-4 .game__result,
#game-2 .step-4 .game__result {
    display: block;
    order: 2;
    text-align: center;
    transition: .3s;
}
.step-4 .game__result-state,
#game-2 .step-4 .game__result-state {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--gray);
}
.step-4 .game__result .again,
#game-2 .step-4 .game__result .again {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}
.step-4 .game__result .again:hover,
#game-2 .step-4 .game__result .again:hover {
    color: var(--Rock-Gradient);
}
/* ############################################# */
/* ############################################# */
/* ############################################# */
@media screen and (max-width: 650px) {
    .game.active {
        min-width: 480px;
    }
    .game__icons {
        gap: 0 70px;
        width: 90%;
    }
    #game-2 .game__cards {
        gap: 0 30px;
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .game.active {
        min-width: 300px;
    }
    .game__header {
        padding: 10px;
    }
    .game__logo {
        width: 100px;
    }
    .game__score-text {
        font-size: 12px;
    }
    .game__score-num {
        padding-top: 10px;
        font-size: 30px;
    }
    .game__score {
        padding: 5px 20px;
    }
    .game__icons {
        gap: 0 60px;
        width: 100%;
    }
    .game__icon:last-child {
        margin-top: 30px;
    }
    .game__footer {
        flex-direction: column-reverse;
        gap: 30px;
        margin-top: 100px;
    }
    .game__rules-overlay {
        display: none;
    }
    .game__rules .box {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 0;
    }
    .game__rules-text {
        font-size: 25px;
        font-weight: 700;
        margin: 40px 0 60px;
    }
    .game__rules-text img {
        width: 40px;
        position: absolute;
        left: 50%;
        bottom: 100px;
        transform: translateX(-50%);
    }
    #game-2.active {
        min-width: 320px;
    }
    #game-2 .game__cards {
        gap: 0 10px;
        width: 100%;
    }
    #game-2 .game__card {
        width: 100px;
        height: 100px;
    }
    #game-2 .game__cards::before {
        background-size: 300px;
    }
    #game-2 #lizard,
    #game-2 #rock {
        margin-top: -50px;
    }
    .game__icons.step-2 {
        flex-direction: column;
        padding: 20px 0 0;
    }
    #game-1 .game__icons.step-2,
    #game-2 .game__cards.step-2 {
        gap: 20px;
    }
    .step-4 .game__result-state,
    #game-2 .step-4 .game__result-state {
        font-size: 20px;
    }
    .step-4 .game__result .again,
    #game-2 .step-4 .game__result .again {
        font-size: 11px;
        padding: 5px;
    }
    .step-2 .game__icon.yourPicked::after,
    #game-2 .step-2 .game__card.yourPicked::after,
    .step-2 .game__icon::after,
    #game-2 .step-2 .game__card::after {
        font-size: 15px;
    }
    .step-2 .game__icon.yourPicked,
    #game-2 .step-2 .game__card.yourPicked,
    .step-2 .game__icon.housePicked,
    #game-2 .step-2 .game__card.housePicked,
    .step-2 .game__icon.game__step-2,
    #game-2 .step-2 .game__card.game__step-2 {
        width: 100px;
        height: 100px;
    }
}